/* --- GLAVNI KONTEJNER I ZAGLAVLJE --- */
.manage-page-container {
    padding: 2rem;
    color: var(--text-color);
}

.manage-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2rem;
    padding-bottom: 1.5rem;
    border-bottom: 1px solid var(--button-color);
}

.manage-header h2 {
    margin: 0;
    font-size: var(--font-size-xl);
}


/* --- TABELA --- */
.manage-table {
    width: 100%;
    border-collapse: separate; /* Važno za border-spacing */
    border-spacing: 0;
    border-radius: var(--border-radius);
    overflow: hidden;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

.manage-table th, .manage-table td {
    padding: 1rem 1.5rem;
    text-align: left;
    border-bottom: 1px solid var(--button-color);
    vertical-align: middle;
}

.manage-table thead th {
    background-color: var(--button-color);
    font-weight: var(--font-weight-bold);
    color: var(--text-color);
    text-transform: uppercase;
    font-size: var(--font-size-small);
    letter-spacing: 0.5px;
}

.manage-table tbody tr {
    background-color: var(--background);
    transition: background-color 0.2s ease;
}

.manage-table tbody tr:last-child td {
    border-bottom: none; /* Uklanja duplu liniju na dnu */
}

.manage-table tbody tr:hover {
    background-color: var(--button-color);
}

/* NOVO: Klasa za skraćivanje dugačkog teksta */
.truncate-text {
    max-width: 300px; /* Podesite po potrebi */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* --- AKCIJE I DUGMIĆI --- */
.actions-cell {
  vertical-align: middle;
}

/* Zajednički stil za dugmiće u tabeli */
.btn-edit, .btn-delete, .btn-start-arena {
    padding: 5px 10px;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-weight: var(--font-weight-bold);
    transition: all 0.2s ease;
    font-size: 0.85rem;
}

.actions-cell-wrapper {
    /* Ovaj div je sada flex kontejner i ređa dugmiće horizontalno */
    display: flex;
    align-items: center;
    gap: 8px;
}

/* Redizajnirano "Izmeni" dugme */
.btn-edit {
    background-color: transparent;
    border-color: var(--foreground) ;
    color: var(--foreground);
}

.btn-edit:hover {
    border-color: none ;
    background-color: var(--foreground);
    color: var(--button-color);
}

/* Redizajnirano "Obriši" dugme */
.btn-delete {
    background-color: var(--danger);
    color: white;
}

.btn-delete:hover {
    background-color: var(--danger-hover);
    opacity: 0.9;
}

.btn-start-arena {
    background-color: var(--button-color) ;
    border-color: var(--foreground) ;
    color: var(--foreground);
}

.btn-start-arena:hover {
    border-color: none ;
    background-color: var(--foreground);
    color: var(--button-color);
}