@import './styles/variables.css';

body {
  margin: 0;

  font-family: var(--font-family-main);
  background-color: var(--background);
  color: var(--text-color);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn {
  display: inline-block;
  padding: 10px 24px;
  border: none;
  border-radius: var(--border-radius);
  font-family: var(--font-family-main);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-bold);
  text-decoration: none;
  cursor: pointer;
  text-align: center;
  transition: all 0.2s ease-in-out;
  background-color: var(--button-color);
  color: var(--text-color); 
}

.btn:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}